form .simple-btn-white {
    background:transparent;
    border: 2px solid rgb(208, 233, 232);;
    color: rgb(208, 233, 232);

    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 158px;


    transition: 100ms;
}

form .simple-btn-white:hover {
    background-color: rgb(3, 178, 190);
    border: 2px solid rgb(208, 233, 232);
}

form .simple-btn-black {
    background:transparent;
    border: 2px solid #33332f;
    color: #33332f;

    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 158px;


    transition: 100ms;
}

form .simple-btn-black:hover {
    background-color: #33332f;
    color: #edf5e1;
}


form .simple-btn-blue {
    background:transparent;
    border: 2px solid #33332f;
    color: #115896;

    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 158px;


    transition: 100ms;
}

form .simple-btn-blue:hover {
    background-color: #33332f;
    color: #edf5e1;
}