.logoLoading{
    height: 100vh;
    width: 100vw;
    display: grid;

    align-items: center;
}


.logoLoading img{
    height: 70px;
    width: 70px;
    margin: 0 auto;

    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;

}

@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
