.main_page {
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFF8;
    background-image: url('../images/pattern.svg');
    background-repeat: repeat;
    background-size: 400px;
}

.sidebar {
    background-color: inherit;
    color: #115896;
    height: 100vh;
    width: 170px;
    position: fixed;
    left: 0;
    overflow: hidden;
    border-right: 1px solid #33332f;
    display: grid;
    grid-template-rows: 90px 25px 59px auto 20px;
    z-index: 99;
    transition: .2s;
}

.sidebar .logo-simple{
    width: 70px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.sidebar .username {
    margin: 0px;
    padding: 0px;

    font-size: 15px;
    font-style: italic;

    overflow: hidden;
    text-align: center;
}

.sidebar .logout {
    font-size: 12px;
    cursor: pointer;
    display: block;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 10px;

    font-variant: all-small-caps;
    text-decoration: underline;
}


.sidebar-right {
    height: 100vh;
    width: 170px;

    background-color: inherit;
    color: #33332f;
    position: fixed;
    right: 0;

    border-left: 1px solid #33332f;

    z-index: 99;

    display: grid;
    grid-template-rows: auto 70px;
}

.sidebar-other-actions {
    align-self: center;
}


.sidebar-other-actions a {
	color: #115896;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	width: 165px;
	height: 14px;
	font-size: 10px;
	border: 1px solid #33332f;
	margin: 3px auto 5px;
	padding-top: 2px;
    letter-spacing: 1.5px;
    
    transition: 200ms;
}

.sidebar-other-actions a:hover {
    background-color: #33332f;
    color: #f1f0e2;
}

.sidebar-other-actions a:active {
    color : #115896;
}


.timeline {
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

    .timeline-title {
        width: 65px;
        height: 14px;
        font-size: 10px;
        border: 1px solid #33332f;
        margin: 0 auto;
        margin-top: 3px;
        margin-bottom: 5px;
        padding-top: 2px;
        letter-spacing: 1.5px;
    }


    .operation-element  {
        height: 25px;
        width: 95%;
        margin: 0 auto;

        border: 2px solid #33332f;
        margin-bottom: 5px;
        overflow: hidden;
        display:grid;
        grid-template-columns: 40px auto;
        column-gap: 5px;

        align-items: center;

        animation: fadeInAndGrow 400ms;
    }

        .operation-element-dwn {
            height: 20px;
            width: 23px;
            margin: 0 auto;
            overflow: hidden;
        }

        .operation-element-dwn:before {
        background-image: url('../images/dwn_icon.png');
        
        background-size: 23px 20px;
        display: inline-block;

        height: 20px;
        width: 23px;

        margin: 0 auto;

        content:"";
        }

        .operation-element-up {
            height: 20px;
            width: 23px;

            margin: 0 auto;
            overflow: hidden;
        }

        .operation-element-up:before {
            background-image: url('../images/up_icon.png');
            
            background-size: 23px 20px;
            display: inline-block;
            margin-left: 3px;

            height: 20px;
            width: 23px;

            margin: 0 auto;

            content:"";
            }



        .operation-element p {
            padding: 0px;
            margin: 0px;
            font-size: 12px;
            text-align: left;

            transition: 300ms;
        }

    .removing-element {
        height: 20px;
        width: 95%;
        margin: 0 auto;

        border: 2px solid #33332f;
        margin-bottom: 5px;
        overflow: hidden;
        animation: fadeOutSimple 300ms;
    }

    .removing-element p {
        padding: 0px;
        margin: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 10px;
    }



.file_list{
    width: auto;
    margin-left: 180px;
    margin-right: 180px;

    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(120px, 120px) );
    column-gap: 15px;
}

.file_block {
    border: 1px solid #33332f;
    background-color: #FFFFF8;

    cursor: pointer;
    overflow: hidden;

    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    
    height: 150px;
    width: 120px;

    display: grid;
    grid-template-rows: 105px 45px;
    border-radius: 2px;

    transition: 100ms;
}

.file_block p {
    background-color: #33332f;
    text-align: center;
    font-size: 12px;
    padding: 0;
    padding-top: 3px;
    margin: 0px;
    color: #F1F0E2;
    overflow: hidden;
    z-index: 2;
}

.file_img {
    height: 100px;

    display: grid;
    align-content: center;

    transition: 500ms;
}

.file_img:hover {
    transform: scale(1.06);
}

.file_img img {
    height: 80px;
    margin: 0 auto;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.inputfile + label {
    font-size: 13px;
    width: 150px;
    border: 2px solid #33332f;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;

    display: inline-block;

    cursor: pointer;

    overflow: hidden;

    transition: 100ms;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #33332f;
    color: #F1F0E2
}


.loading-div{
    height: 100vh;
    width: 100vw;
    display: grid;

    background-color: rgba(3, 178, 190, 0.5);
    position: fixed;
    z-index: 99;

    align-items: center;

    animation: fadeInSimple 100ms;
}


.loading-div img{
    height: 70px;
    width: 70px;
    margin: 0 auto;

    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}